<div id="navbar" class="flex flex-wrap items-center justify-between p-4">
  <!-- Logo or Church Name -->
  <h1 class="text-2xl font-bold flex-shrink-0"> <a href="/"> Way Preparers Church </a></h1>

  <!-- Hamburger Menu (Visible on Small Screens) -->
  <div class="md:hidden flex items-center">
    <button id="hamburger" class="text-2xl hover:text-blue-300">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <!-- Navigation links -->
  <nav class="w-full md:w-auto mt-4 md:mt-0 md:block">
    <ul id="nav-links" class="flex flex-wrap justify-center md:justify-end space-x-4 hidden md:flex flex-col md:flex-row">
      <li><a href="#" class="block text-center hover:text-blue-300"><i class="fas fa-home mr-2"></i>Home</a></li>
      <li><a href="#about" class="block text-center hover:text-blue-300"><i class="fas fa-info-circle mr-2"></i>About Us</a></li>
      <li><a href="#sermons" class="block text-center hover:text-blue-300"><i class="fas fa-book-open mr-2"></i>Sermons</a></li>
      <li><a href="#events" class="block text-center hover:text-blue-300"><i class="fas fa-calendar-alt mr-2"></i>Events</a></li>
      <li><a href="#contact" class="block text-center hover:text-blue-300"><i class="fas fa-envelope mr-2"></i>Contact</a></li>
      <span id="active-page" class="text-center text-xl font-serif text-orange-800 w-full mt-4 md:mt-0 md:w-auto">Home</span>
    </ul>
  </nav>
</div>