<aside>
    <div id="toggle-btn" onclick="toggleAside()">
        <i class="fas fa-arrow-left"></i>
    </div>
    <ul>
        <li>
            <i class="fas fa-home"></i>
            <span>Home</span>
        </li>
        <li>
            <i class="fas fa-info-circle"></i>
            <span>About</span>
        </li>
        <li>
            <i class="fas fa-phone"></i>
            <span>Contact</span>
        </li>
        <li>
            <i class="fas fa-book"></i>
            <span><a href="articles.html"> articles </a></span>
        </li>
    </ul>
</aside>
